<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <div class="central">

        <%-include ('partials/header') %>

        <h1>Détails</h1>

            <div>
                <form action="/movie-details/<%= movie._id %>" method="post">
                <legend>Modifier le film</legend>
                <label for="movietitle">Titre du film</label>
                <input type="text" name="movietitle" id="movietitle" value="<%= movie.movietitle %>">
                <label for="movieyear">Année du film</label>
                <input type="text" name="movieyear" id="movieyear" value="<%= movie.movieyear %>">
                <button type="submit">mettre à jour</button>
                </form>
                <button id="btnSuppr">suppr</button>
            </div>
        </div>
        <%-include ('partials/footer') %>
        <script>
            var btnSuppr = documment.getElementById('btnSuppr');
            btnSuppr.addEventListener('click', deleteDocument);

            function deleteDocument() {
                var movieId = <%- JSON.stringify(movie._id) %>;
                var url = `/movie-details/` + movieId;
                axios.delete(url)
                    .then(function(response) {
                        window.location = '/movies'; 
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            }
        </script>
    </body>
</html>